nav.navigation(data-logo-default='dark' data-logo-sticky='light')
  .navigation__wrapper
    a.navigation__link(href="/")
      img.navigation__link__icon(src=navigation.data.logo_dark.url alt=navigation.data.logo_dark.alt)

    .navigation__list
      each item in navigation.data.list
        .navigation__list__item
          a.navigation__list__link(href=Link(item.link))=item.text
