nav.navigation
  .navigation__wrapper
    a.navigation__link(href="/")
      | Orderlivery

      svg.navigation__link__icon

    ul.navigation__list
      li.navigation__list__item
        a.navigation__list__link(href="/") Home

      li.navigation__list__item
        a.navigation__list__link(href="/about") About

      li.navigation__list__item
        a.navigation__list__link(href="/restaurants") Restaurants
      
      li.navigation__list__item
        a.navigation__list__link(href="/drivers") Drivers

      li.navigation__list__item
        a.navigation__list__link(href="/faqs") FAQ's
      
      li.navigation__list__item
        a.navigation__list__link(href="/contact") Contact

      li.navigation__list__item
        a.navigation__list__link(href="/get-the-app") Get The App
