.about {
  background-color: $color-mango-tango;
  color: $color-champagne-pink;
  width: 100%;
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 30rem;
  width: 100%;
}

.about__hero {
  @extend %section;
}

.about__hero__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__hero__title {
  @extend %title-53;
}

.about__message {
  @extend %section;
}

.about__message__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.about__message__sub__title {
  width: 60rem;
}

.about__message__sub__title__text {
  @extend %title-53;
}

.about__message__description {
  width: 50rem;
}

.about__message__description {
  letter-spacing: 0.02rem;
}

.about__video {
  @extend section;
}

.about__video__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_video_iframe {
  width: 115rem;
  height: 75rem;
}

iframe {
  width: 100%;
  height: 100%;
}

