$color-bright-gray: #37384C;
$color-cadet-blue: #B2B8C3;
$color-mango-tango: #fc8b44;
$color-seal-brown: #722e04;
$color-champagne-pink: #fee9dc;
$font-varela-round: 'Varela Round';
$font-open-sans: 'Open Sans';

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: (
  'navigation',
  'main'
);
