.home {
  background: $color-mango-tango;
  color: $color-champagne-pink;
}

.home__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 30rem;
  width: 100%;
}

.home__hero {
  height: auto;
  width: auto;
}

.home__hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__content {
  max-width: auto;
}

.home__content__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__hero__title {
  @extend %title-53;
  text-align: center;
  margin-bottom: 5rem;
}

.home__hero__description {
  @extend %description-16;
  max-width: 70rem;
  text-align: center;
  margin-bottom: 5rem;
}

.home__hero__video__link {
  background-color: $color-champagne-pink;
  padding: 2rem 5rem 2rem 5rem;
  border-radius: 5rem;
  color: $color-mango-tango;
  box-shadow: 0px 30px 60px 0px rgb(52 27 159 / 10%);
  &:hover {
    background-color: $color-mango-tango;
    color: $color-champagne-pink;
    border: 1px solid $color-champagne-pink;
    box-shadow: none;
  }
}


.home__hero__phone__screen {
  width: 100%;
}

.home__hero__phone__screen__image {
  max-width: 100%;
  justify-content: start;
}

.why__switch {
  max-width: 100%;
}

.why__switch__wrapper {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.why__switch__title {
  @extend %title-53;
  margin-bottom: 10rem;
}

.why__switch__list {
  @extend %description-16;
}

.Why__switch__list__wrapper {
  display:flex;
  flex-direction: row;
}
.list__item {
  margin: 0 1rem;
}
.list__item__wrapper {
  background-color: $color-champagne-pink;
  border-radius: 0.5rem;
  box-shadow: 0px 30px 60px 0px rgb(52 27 159 / 10%);
  height: 100%;
  padding: 5rem;
  width: 100%;
  &:hover {
    box-shadow: none;
  }
}

.list__item__icon {

}

.list__item__link {
  color: $color-mango-tango;
  .list__item__wrapper:hover & {
    border-bottom: 2px solid $color-mango-tango;
  }
}

.what__we__guarantee {
  max-width: 100%;
}

.what__we__guarantee__wrapper {
  align-items: center;
  margin: 30rem 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.what__we__guarantee__content {
  max-width: 50%;
}

.what__we__guarantee__content__wrapper {
  border-bottom: 1px solid $color-champagne-pink;
  margin-bottom: 5rem;
}

.what__we__guarantee__content__title {

}

.what__we__guarantee__content__description {

}

.what__we__guarantee__list {

}

.what__we__guarantee__list__wrapper {

}

.what__we__guarantee__list__title {

}

.what__we__guarantee__list__icon {

}

.what__we__guarantee__list__title {

}

.content {

}

.content__wrapper {

}

.content__info {

}

.content__title {

}

.content__description {

}

.content__link {

}

.content__image {

}

.cta__banner {

}

.cta__banner__wrapper {

}

.cta__banner__title {

}

.cta__banner__description {

}

.cta__banner__link {

}

