.home {
  background: $color-mango-tango;
  color: $color-champagne-pink;
}

.home__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 30rem;
  width: 100%;
}

.home__hero {
  @extend %section;
}

.home__hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__content {
  max-width: auto;
}

.home__content__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__hero__title {
  @extend %title-53;
  text-align: center;
  margin-bottom: 5rem;
}

.home__hero__description {
  @extend %description-16;
  max-width: 70rem;
  text-align: center;
  margin-bottom: 5rem;
}

.home__hero__video__link {
  background-color: $color-champagne-pink;
  padding: 2rem 5rem 2rem 5rem;
  border-radius: 5rem;
  color: $color-mango-tango;
  box-shadow: 0px 30px 60px 0px rgb(52 27 159 / 10%);
  &:hover {
    background-color: $color-mango-tango;
    color: $color-champagne-pink;
    border: 1px solid $color-champagne-pink;
    box-shadow: none;
  }
}


.home__hero__phone__screen {
  max-width: 100%;
}

.home__hero__phone__screen__image {
  max-width: 100%;
  justify-content: start;
}

.why__switch {
  @extend %section;
}

.why__switch__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.why__switch__title {
  @extend %title-30;
  margin-bottom: 10rem;
}

.why__switch__list {
  @extend %description-16;
}

.Why__switch__list__wrapper {
  display:flex;
  flex-direction: row;
}
.list__item {
  margin: 0 1rem;
}
.list__item__wrapper {
  background-color: $color-champagne-pink;
  border-radius: 0.5rem;
  box-shadow: 0px 30px 60px 0px rgb(52 27 159 / 10%);
  height: 100%;
  padding: 5rem;
  width: 100%;
  &:hover {
    box-shadow: none;
  }
}

.list__item__icon {

}

.list__item__link {
  color: $color-mango-tango;
  .list__item__wrapper:hover & {
    border-bottom: 1px solid $color-mango-tango;
  }
}

.what__we__guarantee {
  @extend %section;
}

.what__we__guarantee__wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.what__we__guarantee__content {
  max-width: 100%;
}

.what__we__guarantee__content__wrapper {
  margin-bottom: 15rem;
}

.what__we__guarantee__content__title {
  @extend %title-30;
  margin-bottom: 5rem;
}

.what__we__guarantee__content__description {
  @extend %description-14;
  max-width: 71rem;
  margin: 0 auto;
}

.what__we__guarantee__list {
  max-width: 100%;
}

.what__we__guarantee__list__wrapper {
  display: flex;
  flex-direction: row;
}

.what__we__guarantee__title {
  @extend %title-30;
  margin-bottom: 10rem;
}

.what__we__guarantee__list__icon {

}

.what__we__guarantee__list__title {
  color: $color-mango-tango;
  .list__item__wrapper:hover & {
    border-bottom: 1px solid $color-mango-tango;
  }
}

.content {
  @extend %section;
  display: flex;
  justify-content: center;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.content__wrapper {
  display: flex;
  .content--right & {
    flex-direction: row-reverse;
  }
}

.content__info__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content__title {
  @extend %title-30;
  width: 60rem;
  margin-bottom: 2.5rem;
}

.content__description {
  @extend %description-14;
  width: 66rem;
  margin-bottom: 2.5rem;
}

.content__link {
  background-color: $color-champagne-pink;
  padding: 2rem 5rem 2rem 5rem;
  border-radius: 5rem;
  color: $color-mango-tango;
  box-shadow: 0px 30px 60px 0px rgb(52 27 159 / 10%);
  &:hover {
    background-color: $color-mango-tango;
    color: $color-champagne-pink;
    border: 1px solid $color-champagne-pink;
    box-shadow: none;
  }
  .content:nth-child(4) & {
    width: 19rem;
  }
  .content:nth-child(5) & {
    width: 21.5rem;
  }
}

.content__media {
  .content:nth-child(4) & {
    height: 80.8rem;
    margin-left: 18rem;
    width: 81.8rem;
  }
  .content:nth-child(5) & {
    height:52rem;
    margin-left: 12rem;
    width: 84.2rem;
  }
}

.content__media__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.cta__banner {
  @extend %section;
  background-color: $color-champagne-pink;
  color: $color-mango-tango;
  display: flex;
  justify-content: center;
  padding: 20rem 30rem;
  margin: 20rem auto;
  border-radius: 2rem;
  box-shadow: 0px 30px 60px 0px rgb(52 27 159 / 10%);
  &:hover {
    box-shadow: none;
  }
}

.cta__banner__wrapper {
  display: flex;
  align-items: center;
}

.cta__content__box {
  display: flex;
  flex-direction: column;
  width: 66rem;
  margin-right: 10rem;
}

.cta__content__title {
  @extend %title-53;
}

.cta__content__description {
  @extend %description-12;
}

.cta__banner__link {
  background-color: $color-mango-tango;
  padding: 2rem 5rem 2rem 5rem;
  border-radius: 5rem;
  color: $color-champagne-pink;
  box-shadow: 0px 30px 60px 0px rgb(52 27 159 / 10%);
  &:hover {
    background-color: $color-champagne-pink;
    color: $color-mango-tango;
    border: 1px solid $color-mango-tango;
    box-shadow: none;
  }
}

